.site-header {
  text-align: center;
  color: white;
}

#content {
  margin-top: 3vh;
}

input, textarea {
  margin-bottom: 1vh;
}

.btn {
  margin-right: 1vh;
}

.recipe-item {
  cursor: pointer;
  margin-top: 1vh;
}

.list-group-item.ingredient-item {
  background-color: transparent;
}

.list-group-item {
  background-color: rgba(78,93,108,0.9)
}

.recipe-item h4 {
  font-weight: bold;
}

body {
  background:url(/img/bkgrnd.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
